.home {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  height: 1080px; }
  .home #hero {
    width: 100%;
    max-height: 469px;
    font-family: perpetua;
    font-size: xx-large;
    color: linen;
    background-color: #B39B70; }
    .home #hero #header1 {
      font-style: italic;
      font-size: 2em;
      line-height: 2em; }
    .home #hero #header2 {
      line-height: 1.2em; }
  .home .bx1 {
    flex: 1 auto;
    width: auto; }
  .home #email-capture {
    flex: 0 1 auto;
    width: 560px; }
